@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh; /* View Height - Altura Visível (100% da área visível) */
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  border-bottom: solid 1px #ccc;
  padding: 0 24px;

  display: flex;
  justify-content: center;
}

.cabecalho {
  width: 100vw;
  max-width: 1080px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho img {
  height: 26px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #666;
  font-weight: bold;

  transition: all 100ms ease-in;
}

nav ul li a:hover {
  color: #000;
}

nav .destaque {
  border: solid 1px #000;
  border-radius: 6px;
  padding: 6px 12px;
  background-color: #000;
  color: #fff;
}

nav .destaque:hover {
  background-color: #fff;
}

main {
  width: 100vw;
  max-width: 1080px;
  padding: 0 24px;

  margin: auto;
  text-align: center;
}

h1 {
  margin: 30px 0;
  font-size: 56px;
}

h3 {
  color: #0070f3;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 4px;
}

p {
  margin: 16px 0 50px 0;
  text-align: center;
  font-size: 16px;
  color: #666;
  line-height: 26px;
}

.cartoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cartao {
  width: 290px;
  height: 270px;
  margin: 0 20px 50px 20px;
  border-radius: 8px;
  transition: all 0.2s ease;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.cartao:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
}

.cartao img {
  height: 60px;
  margin: 35px 0;
}

.cartao .descricao {
  height: 50%;
  border-top: solid 1px #ccc;
  padding: 25px 15px;
  text-align: left;
}

.cartao .descricao p {
  text-align: left;
}
